{% extends "template.html" %}
     {% block content %}
         <div class="container" style="margin-top: 20px;">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                        <i class="fas fa-blind"></i>
                        Pro Man - 0011.Edition
                    </a>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="hide">
                        <label class="form-check-label text-light" for="exampleCheck1">Open only one board at a time</label>
                      </div>


                    <form id="new-board-form" class="form-inline ml-auto">
                        <input  id="newBoardTitle" class="form-control mr-sm-2" type="text" placeholder="Board name" required>
                        <button id="newBoardButton" class="btn btn-dark" type="button">Add new board</button>
                        <button id="log-out-button" class="btn btn-outline-warning" type="button">LOG OUT: <strong style="color:red;">{{ name }}</strong></button>
                    </form>
                </nav>
         </div>

        <div id="my-modal">
            <div class="row mt-sm-3">
                <div class="col-sm-12">
                    <div class="accordion" id="accordionExample">
                    </div>
               </div>
            </div>
        </div>

    {% endblock %}
