<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>ProMan</title>


        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">

        <script src="{{ url_for('static', filename='js/template.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/data_handler.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/dom.js') }}" defer></script>
        <script src="{{ url_for('static', filename='js/main.js') }}" defer></script>


        <!-- Bootstrap4 -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>


    </head>
    <body>
        <div class="container">
                <nav class="navbar navbar-dark bg-dark">
                    <a class="navbar-brand" href="#">
                    <i class="fas fa-blind"></i>
                    Pro Man - 0100.Edition
                    </a>
                      <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="hide">
                        <label class="form-check-label text-light" for="exampleCheck1">Open only one board at a time</label>
                      </div>

{#                    <label>#}
{#                        <input id="hide" class="ng-valid ng-dirty ng-valid-parse ng-touched ng-empty" style="" type="checkbox">#}
{#                        #}
{#                    </label>#}

                    <form id="new-board-form" class="form-inline ml-auto">
                        <input  id="newBoardTitle" class="form-control mr-sm-2" type="text" placeholder="Board name" required>
                        <button id="newBoardButton" class="btn btn-dark" type="button">Add new board</button>
                    </form>
                </nav>

        <div id="my-modal">
            <div class="row mt-sm-3">
                <div class="col-sm-12">
                    <div class="accordion" id="accordionExample">
                    </div>
               </div>
            </div>
        </div>



        </div>
    </body>
</html>